header{
    border: 5px solid black;
    border-radius: 0px;
    height: 30vh;
    margin: 20px;
    display: flex;
    align-items: center;
    padding: 15px;
}


.box {
    background-color: rgb(109, 0, 128);
    height: 180px;
    width: 45px;
    margin: 25px;
    position: relative;
    top: 35px;
}

.greenBox {
    background-color: green;
    height: 250px;
    width: 500px;
    margin: 25px;
}
.circle{
    background-color: lightblue;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 50px;
}


.second{
    border: 5px dotted black;
    border-radius: 0px;
    box-sizing: border-box;
    height: 35vh;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tan-box {
    background-color: lemonchiffon;
    height: 200px;
    width: 90%;
    filter: drop-shadow(5px 5px 5px black);
}

.third {
    border: 1px solid lightgray;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto;
    height: 30vh;
    width: 40vw;
    box-shadow: 3px 3px 3px lightgray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.text {
    font-size: 30px;
    width: 100%;
    letter-spacing: 10px;
    color: navy;

}